{
    "Bot": {
        "Token": "BOT_TOKEN_LIKE_12345676:ABCDEF",
        "PollingTime": 2
    },
    "User": {
        "Developer": 123456789,
        "User": [548918912, 123456789]
    },
    "Texte": {
        "Rest" : ["Restabfall", "Leerung: Restabfall"],
        "Gelb" : ["Gelbe Tonne", "Leerung: Gelbe Tonne"],
        "Braun": ["Biomüll", "Leerung: Biomüll"],
        "Blau" : ["Papier", "Leerung: Papier und Pappe"],
        "Egal" : ["++ nächste ++", "Egal, gib mir die Eheste"]
    }
}
